<form class="banner banner--mutted form" action="https://formspree.io/hello@edvinas.lt" method="POST">
  <div class="banner__body">
    <fieldset class="form__fieldset">
      {% include components/form/row.html name="message" type="textarea" props=include.keys.form.message %}
      {% include components/form/row.html name="_replyto" type="email" props=include.keys.form.contact %}

      <input type="hidden" name="_subject" value="{{ keys.subject }}">
      <input type="hidden" name="_next" value="/thanks.html">
      <input type="text" name="_gotcha" style="display:none;">
    </fieldset>

    <button class="button button--medium">
      {{ include.keys.form.action }}
    </button>
  </div>
</form>
