<section class="partners">
  <p class="partners__body">
    {{ keys.partners.body }}
  </p>
  <figure class="partners__logos">
    <a class="partners__link" href="https://limitlesspursuits.com/adventure-parent/adventure/karolis-mieliauskas-epic-motorcycle-challenge-across-the-worlds-deepest-lake/"></a>
    <a class="partners__link" href="https://www.15min.lt/gazas/naujiena/gatve/uzsalusi-baikala-motociklu-iveikes-lietuvis-buvau-pasiruoses-viskam-221-774310"></a>
    <a class="partners__link" href="https://www.outdoorjournal.com/adventure-travel/motorcycle-meditation-riding-across-an-ice-covered-lake-baikal/"></a>
    <a class="partners__link" href="https://adventuremotorcycle.com/rides/riding-lake-baikal-ride-report"></a>
    <a class="partners__link" href="http://www.advpulse.com/adv-rides/ride-across-lake-baikal/"></a>
    <a class="partners__link" href="http://www.brake-magazine.com/feature-the-one-life-lesson-we-all-need/"></a>
  </figure>
</section>
