<div class="form__row">
  <label class="form__label" for="{{ include.name }}">{{ include.props.label }}</label>
  {% if include.props.note %}
    <p class="form__details">{{ include.props.note }}</p>
  {% endif %}
  {% if include.type == "text" %}
    <input class="input input--text" type="text" name="{{ include.name }}" id="{{ include.name }}" placeholder="{{ include.props.placeholder }}">
  {% elsif include.type == "textarea" %}
    <textarea class="input input--text input--multiline" name="{{ include.name }}" id="{{ include.name }}" placeholder="{{ include.props.placeholder }}"></textarea>
  {% endif %}
</div>
