.banner {
  position: relative;
  z-index: 1;
  padding: 2rem;
  margin: 2rem 0;

  background-color: rgba($color-palette-primary, 0.06);
  border: solid 0 rgba($color-palette-primary, 0.3);
  border-left-width: 1px;

  font-size: 1rem;

  @include phablet() {
    &:not(.banner--aside):not(.banner--mutted) {
      margin-top: 6rem;
      padding: 4rem;
      border-left-width: 0;
      border-top-width: 1px;
    }
  }
}

.banner--aside {
  @include phablet() {
    padding: 2rem;
    margin-top: 0;
  }
}

.banner__title {
  margin-bottom: 1.5rem !important;
  color: $color-palette-primary;
  font-size: 1.25rem;
}

.banner__footer {
  margin-top: 2rem
}
