.brand {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 0 0.5rem;
}

.brand__tab {
  transition: padding 125ms ease-in-out;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  padding: inherit;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;

  text-decoration: none;
  text-align: center;
  color: $color-text-primary-inverse;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 0.625rem;
  font-weight: 600;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  background: rgba(0, 0 ,0, 0.75);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2),
              0 1px 2px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  will-change: padding;

  &:hover {
    padding-top: 0.8rem;
    padding-bottom: 0.6rem;
  }
}
