.footer {
  margin-top: 80px;
  text-align: center;
  background-color: $color-palette-secondary;
  color: $color-text-secondary-inverse;
  font-size: 14px;
  text-align: center;
  padding: 0 1.5rem;
}

.footer__header {
  padding: 3rem 0 5rem;
}

.footer__title {
  color: $color-text-primary-inverse;
}

.footer__subtitle {
  padding: 1rem 0 3rem;

  @include phablet() {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__meta {
  padding: 1.5rem 0;
  border-top: solid 1px rgba($color-text-primary-inverse, 0.1);

  @include phablet() {
    text-align: left;
  }
}
