.footer {
  margin-top: 40px;

  text-align: center;
  background-color: $color-palette-secondary;
  color: $color-text-secondary;
  font-size: 14px;
  text-align: center;
  padding: 0 1.5rem;

  background: url(/images/backgrounds/footer.jpg) no-repeat;
  background-position: 50% 100%;
  background-size: contain;

  @include tablet() {
    background-position: 50% 0;
    background-size: cover;
  }
}

.footer__header {
  padding: 3rem 0 5rem;
  margin-bottom: 70px;

  @include tablet() {
    margin-bottom: 300px;
  }
}

.footer__title {
  color: $color-text-primary;
  line-height: 1;
}

.footer__subtitle {
  padding: 1rem 0 2rem;

  @include phablet() {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__meta {
  padding: 1.5rem 0;
  border-top: solid 1px rgba($color-text-primary-inverse, 0.1);

  @include phablet() {
    text-align: left;
  }
}
