.form {
  position: relative;

  margin: 2rem -0.75rem 0;
  padding-left: 1rem;
  padding-right: 1rem;

  @include tablet() {
    margin: 3rem -3rem 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}


.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  &:not(:first-child) {
    padding-top: 2rem;
  }
}


.form__row {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}


.form__details {
  font-size: 0.8em;
  margin: -0.75rem 0 0.5rem;
}


.form__label {
  display: block;
  margin: 0 0 0.75rem 0;
  line-height: 1.1;
  color: $color-text-primary;
  font-weight: 600;
  font-size: 1.15rem;
}
