$header-brand-height: 2rem;

.header {
  table-layout: fixed;

  position: fixed;
  z-index: 20;
  max-width: 100%;

  font-size: 14px;
  line-height: 0.9;
  font-weight: 900;

  @include phablet() {
    position: absolute;
    display: block;
    width: auto;
    top: 2rem;
    left: 1.5rem;
    right: 1.5rem;
  }
}

.header__logo {
  position: relative;
  display: inline-block;
  padding: 1rem 0;

  text-transform: uppercase;

  vertical-align: middle;
  color: $color-text-primary;
  text-decoration: none;
}

.header__content {
  padding: 0 1.5rem;
  background: rgba(#fff, 0.9);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  @include phablet() {
    border-radius: 5px;
  }
}


.header__menu {
  float: right;
}
