.map {
  position: relative;
  margin-bottom: 6rem;
}

.map__image {
  max-width: 160vw;
  margin: -50px 0 -70px -42vw;

  @include phablet() {
    margin: -70px 0 0 -12vw;
    width: 120vw;
  }

  @include tablet() {
    margin-left: -120px;
    margin-top: -40px;
    max-width: 795px;
  }
}

.map__steps {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}


.map__step {
  position: relative;
  display: block;
  padding: 0.75rem 1.5rem 0.75rem 0.75rem;
  margin: 0 0 1rem;

  background: rgba(#fff, 0.9) url("/images/scale.svg") 100% 0 repeat-y;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20),
              inset 0 1px 0 rgba(0,0,0,0.05);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  @include phablet() {
    position: absolute;
    width: 210px;
    z-index: 10;

    &:nth-child(1) {
      top: 100px;
      left: 20px
    }

    &:nth-child(2) {
      top: 245px;
      left: 100px;
    }


    &:nth-child(3) {
      top: 135px;
      left: 390px;
    }

    &:nth-child(4) {
      top: -15px;
      left: 410px;
    }
  }

  @include tablet() {
    position: absolute;
    width: 210px;
    z-index: 10;

    &:nth-child(1) {
      top: 130px;
      left: -10px
    }

    &:nth-child(2) {
      top: 280px;
      left: 90px;
    }


    &:nth-child(3) {
      top: 170px;
      left: 340px;
    }

    &:nth-child(4) {
      top: 10px;
      left: 405px;
    }
  }

  &[data-mark] {
    &:after {
      content: attr(data-mark);
      position: absolute;
      right: 10px;
      top: 13px;
      font-size: 8px;
      font-weight: 600;
      color: $color-palette-primary;
    }
  }
}

.map__label {
  @include phablet() {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.1;
  }
}

.map__body {
  font-size: 0.85rem;
  margin-bottom: 0 !important;

  @include phablet() {
    font-size: 10px;
    margin-top: 5px;
  }
}
