.navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  @include phablet() {
    height: 68px;
  }
}

.navigation__item {
  display: block;
  position: relative;

  @include phablet() {
    display: inline-block;
    height: 100%;

    &:last-child {
      color: $color-palette-primary;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.navigation__link {
  display: inline-block;
  height: 100%;
  padding: 1.25rem 0.5rem;

  color: inherit;
  text-align: left;
  text-decoration: none;
  vertical-align: top;

  border-bottom: solid 4px transparent;
  line-height: 1;

  &:not(a) {
    @include phone() {
      font-size: 0.5em;
      opacity: 0.25;
      margin-top: 0.5rem;
      margin-bottom: -1rem;

      &:after {
        content: ":";
      }
    }
  }

  &:hover,
  &--current {
    @at-root {
      span#{&} {
        cursor: s-resize;
      }
    }

    &:not(span) {
      border-color: currentColor;
    }
  }
}
