.partners {
  position: relative;
  margin-bottom: 4rem;
}

.partners__body {
  font-size: 0.85rem;
  text-align: center;
  color: $color-text-secondary;
  padding: 0 1rem 1rem;
  opacity: 0.75;
}

.partners__logos {
  width: 240px;
  height: 235px;
  margin: 0 auto;
  position: relative;
  background: url(/images/partners.png) 0 0 no-repeat;
  background-size: cover;
}

.partners__link {
  position: absolute;
  height: 54px;

  &:nth-child(1) {
    height: 11px;
    top: 0;
    left: 8px;
    right: 8px;
  }

  &:nth-child(2) {
    width: 54px;
    top: 39px;
    left: 0;
  }

  &:nth-child(3) {
    width: 160px;
    top: 39px;
    right: 0;
  }

  &:nth-child(4) {
    width: 160px;
    left: 0;
    top: 113px;
  }

  &:nth-child(5) {
    width: 54px;
    right: 0;
    top: 113px;
  }

  &:nth-child(6) {
    left: 16px;
    right: 16px;
    top: 191px;
  }
}
