{% include keys.html %}
{% include root.html %}

{% include layout/hero.html
           centered=true
           title=keys.hero.title
           subtitle="" %}

<div class="bg">
  <div class="container">
    <article class="article">
      <section class="article__section">
        <div class="article__body article__body--centered">
          {{ keys.body | markdownify }}
        </div>
      </section>

      <section class="article__section">
        <div class="article__body article__body--centered">
          <a class="button button--medium" href="{{ root }}/">{{ keys.action }}</a>
        </div>
      </section>
    </article>
  </div>
</div>
