*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-base;
}

body {
  font-size: 1rem;
  line-height: $line-height-base;
  font-family: $font-family-base;
}

figure {
  margin: 0;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

svg {
  vertical-align: middle;
  text-transform: uppercase;
}

hr {
  display: block;
  overflow: hidden;
  width: 60%;
  height: 1px;
  margin: 40px auto;
  padding: 0;
  background-color: $color-ui-details;
  border: 0;
}
