<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ site.baseurl_root }}/css/site.css?v=5">
  {% if page.is_gallery %}
  <link rel="stylesheet" href="{{ site.baseurl_root }}/css/gallery.css">
  {% endif %}

  <title>{{ site.data.meta.title }}</title>
  <meta name="description" content="{{ site.data.meta.description }}">

  <meta property="og:image" content="{{site.url}}/images/media.jpg"/>

  <meta property="og:title" content="{{ site.data.meta.title }}">
  <meta name="twitter:title" content="{{ site.data.meta.title }}">

  <meta property="og:description" content="{{ site.data.meta.description }}">
  <meta name="twitter:description" content="{{ site.data.meta.description }}">
</head>
