{% if page.lang %}
  {% assign keys = site.data[page.lang]navigation %}
{% else %}
  {% assign keys = site.data.navigation %}
{% endif %}

{% include root.html %}

<section class="header flag">
  <div class="container">
    <div class="header__content flag">
      <figure class="flag__content">
        {% assign home = site.baseurl %}
        {% if home == "" %}
          {% assign home = "" %}
        {% endif %}
        <a href="{{ root }}/{{ home }}" class="header__logo">
          {{ keys.title | replace: " ", "<br>" }}
        </a>
      </figure>

      <nav class="flag__suffix">
        <div class="menu">
          <input class="menu__state" type="checkbox" id="mobile-nav-state" />

          <label for="mobile-nav-state" class="menu__toggle button phone-only">
            <i class="menu__icon"></i>
            {{ keys.menu_toggle }}
          </label>

          <div class="menu__content" data-title="The Coldest Ride">
            <ul class="navigation">
              {% for item in keys.items %}
                <li class="navigation__item">
                  {% if item.url %}
                    <a class="navigation__link {% if page.url == item.url %}navigation__link--current{% endif %}" href="{{ item.url }}">
                      {{ item.name | replace_first: ' ', ' <br class="desktop-only">' }}
                    </a>
                  {% endif %}
                  {% if item.items %}
                    <span class="navigation__link {% if page.url == item.url %}navigation__link--current{% endif %}">
                      {{ item.name | replace_first: ' ', ' <br class="desktop-only">' }}
                    </span>
                    <ul class="dropdown">
                      {% for subitem in item.items %}
                        <li class="dropdown__item">
                          <a class="dropdown__link {% if page.url == item.url %}dropdown__link--current{% endif %}" href="{{ root }}/adventures/{{ subitem.id }}.html">
                            {{ subitem.name }}
                            <span class="dropdown__subtitle desktop-only">{{ subitem.subtitle }}</span>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
