---
layout: default
namespace: about
permalink: /about-karolis.html
---

{% assign keys = site.data[page.namespace] %}

{% include layout/hero.html
           theme=page.namespace
           title=keys.hero.title
           subtitle="" %}

<div class="bg">
  <div class="container">
    <article class="article">
      <section class="article__body">
        {% capture banner %}
          </p>
          {% assign body = keys.banner.body | markdownify %}
          {% include components/banner.html
                     aside=true
                     title=keys.banner.title
                     body=body
                     cta=keys.banner.action
                     href="/get-in-touch.html" %}
        {% endcapture %}

        {{ keys.body | markdownify | replace_first: "</p>", banner }}
      </section>
    </article>
  </div>
</div>
