---
layout: default
namespace: index
permalink: /home.html
---

{% assign keys = site.data[page.namespace] %}

{% include layout/hero.html
           title=keys.hero.title
           subtitle=keys.hero.subtitle %}

<div class="bg">
  <div class="container">
    <article class="article">
      <section class="article__body">
        <h1 class="article__title">
          {{ keys.intro.title }}
        </h1>

        {{ keys.intro.body | markdownify }}

        <img src="/images/map.png" alt="">

        <aside class="sidebar">
          {% assign body = keys.banner.body | markdownify %}
          {% include components/banner.html
                     aside=true
                     title=keys.banner.title
                     body=body
                     cta=keys.banner.action
                     href="/get-involved.html" %}

          {% include partners.html %}
        </aside>

      </section>
    </article>


    <article class="article">
      <section class="article__body">
        <h1 class="article__title">
          {{ keys.rider.title }}
        </h1>

        {{ keys.rider.body | markdownify }}
      </section>

      <section class="article__section">
        {% assign keys = site.data.navigation %}
        {% for item in keys.items %}

          {% if item.items %}
            {% for subitem in item.items %}
              <a href="/adventures/{{ subitem.id }}.html" class="media">
                <img class="media__image" src="/images/adventures/{{ subitem.id }}/thumb.jpg" alt="">
                <h4>{{ subitem.name }}</h4>
                <p>{{ subitem.description }}</p>
              </a>
            {% endfor %}
          {% endif %}
          </li>
        {% endfor %}
      </section>
    </article>
  </div>
</div>
