---
layout: default
namespace: index
permalink: /home.html
---

{% assign keys = site.data[page.namespace] %}

{% include layout/hero.html
           title=keys.hero.title
           subtitle=keys.hero.subtitle %}

<div class="bg">
  <div class="container">
    <article class="article">
      <section class="article__body">
        <h1 class="article__title">
          {{ keys.intro.title }}
        </h1>

        {{ keys.intro.body | markdownify }}

        <figure class="placeholder placeholder--widescreen">
          <figcaption class="placeholder__content">(map)</figcaption>
        </figure>

        <aside class="sidebar">
          {% assign body = keys.banner.body | markdownify %}
          {% include components/banner.html
                     aside=true
                     title=keys.banner.title
                     body=body
                     cta=keys.banner.action
                     href="/get-involved.html" %}

          <section class="partners">
            <p class="partners__body">
              {{ keys.partners.body }}
            </p>
            <figure class="partners__logos">
              <a class="partners__link" href="https://www.15min.lt/gazas/naujiena/gatve/uzsalusi-baikala-motociklu-iveikes-lietuvis-buvau-pasiruoses-viskam-221-774310"></a>
              <a class="partners__link" href="https://www.outdoorjournal.com/adventure-travel/motorcycle-meditation-riding-across-an-ice-covered-lake-baikal/"></a>
              <a class="partners__link" href="https://adventuremotorcycle.com/rides/riding-lake-baikal-ride-report"></a>
              <a class="partners__link" href="http://www.advpulse.com/adv-rides/ride-across-lake-baikal/"></a>
              <a class="partners__link" href="http://www.brake-magazine.com/feature-the-one-life-lesson-we-all-need/"></a>
            </figure>
          </section>
        </aside>

      </section>
    </article>


    <article class="article">
      <section class="article__body">
        <h1 class="article__title">
          {{ keys.rider.title }}
        </h1>

        {{ keys.rider.body | markdownify }}

        <figure class="placeholder placeholder--widescreen">
          <figcaption class="placeholder__content">(previous trips)</figcaption>
        </figure>
      </section>
    </article>
  </div>
</div>
