---
layout: default
namespace: morocco
permalink: /adventures/morocco.html
---

{% assign keys = site.data[page.namespace] %}

{% include layout/hero.html
           centered=true
           theme=page.namespace
           title=keys.hero.title
           subtitle="" %}

<div class="bg">
  <div class="container">
    <article class="article">
      <section class="article__section">
        <div class="article__body article__body--centered">
          {{ keys.body | markdownify }}
        </div>
      </section>

      <section class="article__section">
        <div class="gallery">
          <div class="gallery__items">
            <figure class="gallery__item">
              <img class="gallery__image" src="/images/adventures/{{page.namespace}}/1.jpg" alt="">
            </figure>

            <figure class="gallery__item">
              <img class="gallery__image" src="/images/adventures/{{page.namespace}}/2.jpg" alt="">
            </figure>

            <figure class="gallery__item">
              <img class="gallery__image" src="/images/adventures/{{page.namespace}}/3.jpg" alt="">
            </figure>
          </div>
        </div>
      </section>

      <section class="article__section">
        <header class="article__body article__body--centered">
          {% assign body = keys.banner.body | markdownify | add: 'aaaaa' %}
          {% include components/banner.html
                     title=keys.banner.title
                     body=body
                     cta=keys.banner.action
                     href="/get-in-touch.html" %}
        </header>
      </section>
    </article>
  </div>
</div>
